<table class="tableForm" width="100%" style="text-align: center;">
    <tr>
		<th colspan="2">&nbsp;</th>
	</tr>
	<tr>
		<th width="35%">锁定者</th>
		<td style="color: red;font-weight:blod;">{$Think.cookie.loginUserName}
		</td>
	</tr>
	<tr>
		<th>密码</th>
		<td>
        <input type="password" id="cancelLockSystemPassword" name="password" class="easyui-validatebox" data-options="required:true" />
        </td>
	</tr>
    <tr>
		<th colspan="2">&nbsp;</th>
	</tr>
    <tr>
		<td colspan="2">提示：请输入您登录的密码进行解锁。</td>
	</tr>
</table>
<script   src="__STATIC__/js/index/Pub/top.js" ></script>