<div id="layout_center_tabs" style="overflow: hidden;" >
	<div title="{$Think.lang.LANG_INDEXCENTER_HOME}" data-options="fit:true,border:false,iconCls:'icon-house'">
      <div data-options="region:'center',title:'{$Think.lang.LANG_INDEXCENTER_HOME}'" style="overflow: hidden;padding: 5px;">
	   {$Think.lang.LANG_REFRESH}
	   
   
		 
       </div>
	</div>
</div>
<div id="layout_center_tabsMenu" style="width: 120px;display:none;">
	<div type="refresh" data-options="iconCls:'icon-reload'">刷新</div>
	<div class="menu-sep"></div>
	<div type="close" data-options="iconCls:'icon-cross'">关闭</div>
	<div type="closeOther" data-options="iconCls:'icon-cross'">关闭其他</div>
	<div type="closeAll" data-options="iconCls:'icon-cross'">关闭所有</div>
</div>
<script id = "PubCenter" src="__STATIC__/js/index/Pub/center.js" refreshlang="{$Think.lang.LANG_REFRESH}" closelang="{$Think.lang.LANG_CLOSE}"></script>