<div >
<form id="__MODULE__ViewForm" method="post" style="padding:5px;">
<div class="easyui-accordion" >
	<div title="{$Think.lang.LANG_MODEL_BASE_INFO}" data-options="collapsed:false,collapsible:false" style="padding:5px;">
		<table class="tableForm" style="white-space: nowrap;width:100%">
			<tr>
				<td>{$Think.lang.LANG_MODEL_NAME}</td>
				<td><input class="easyui-validatebox" readonly type="text" name="model_name" ></td>
				<td>{$Think.lang.LANG_MODEL_MFLAG}</td>
				<td><input class="easyui-validatebox" readonly type="text" name="m_flag">例如：塗裝別</td>
			</tr>
			<tr>
				<td>{$Think.lang.LANG_MODEL_SERIAL}</td>
				<td>
					<input class="easyui-validatebox" readonly  name="model_serial" data-options="required:true"/>例如：MS009
				</td>
				<td>{$Think.lang.LANG_MODEL_NO}</td>
				<td>
					<input class="easyui-validatebox" readonly  name="model_no"/>
				</td>
			</tr>
			<tr>
				<td>{$Think.lang.LANG_MODEL_REMRAK}</td>
				<td>
					<input class="easyui-validatebox" readonly  name="model_desc" data-options="required:false" />
				</td>
				<td>{$Think.lang.LANG_MODEL_SEMI}</td>
				<td>
					<select id="__MODULE__AddModelModelName" readonly name="semi_product" class="easyui-combogrid"
							  data-options="panelWidth: 413,
											panelHeight: 270,
											width: 145,
											required:false,
											singleSelect:true,//默认不单选
											checkOnSelect : true,//选择checkbox则选择行
											selectOnCheck : true,//选择行则选择checkbox
											idField: 'model_name',
											textField: 'model_name',
											url: '__URL__/x_xgetModelJson1',
											queryParams : { tp:'2' },
											pagination: true,//是否分页
											rownumbers: true,//序号
											collapsible: false,//是否可折叠的
											fit: true,//自动大小
											mode:'remote',
											pageSize: 10,//每页显示的记录条数，默认为10
											pageList: [10,20,40,100,200,1000],//可以设置每页记录条数的列表
											method: 'post',
											columns: [[
											{field:'model_name',title:'料號',width:150},
											{field:'model_serial',title:'型號',width:200}
											]]">
				</td>
			</tr>
			<tr>
				<td>{$Think.lang.LANG_MODEL_TYPE1}</td>
				<td>
					<input class="easyui-combobox" readonly name="model_type1"
								data-options=" valueField: 'id',
												required:true,
												textField: 'text',
												url: '__URL__/x_xgetOption?cusCode=model_type1',
												panelHeight:'auto'" />
				</td>
				<td>{$Think.lang.LANG_MODEL_TYPE3}</td>
                    <td>
					 <input class="easyui-combobox" readonly name="model_type3"
							data-options=" valueField: 'id',
											required:true,
                                            textField: 'text',
                                            url: '__URL__/x_xgetOption?cusCode=model_type3',
                                            panelHeight:'auto'" />
                    </td>
				<!--<td>SN產生規則</td>
				<td>
					<input class="easyui-validatebox" disabled  name="sn_rule" data-options="required:false"/>
				</td>-->
			</tr>
			<tr>
				<td>{$Think.lang.LANG_MODEL_M1}</td>
				<td>
					<input class="easyui-validatebox" readonly  name="m_1"/>
				</td>
				<td>{$Think.lang.LANG_MODEL_M2}</td>
				<td>
					<input class="easyui-validatebox" readonly  name="m_2"/>
				</td>
			</tr>
			<tr><td>{$Think.lang.LANG_MODEL_ROUTE}</td>
				<td>
				   <input  class="easyui-combogrid" readonly name="route_code"
						data-options="
									panelWidth:320,
									idField:'route_code',
									textField:'route_desc',
									required:true,
									url:'__URL__/x_xgetRouteJson',
									columns:[[
										{field:'route_code',title:'途程編號',width:100},
										{field:'route_name',title:'途程名稱',width:100},
										{field:'route_desc',title:'途程描述',width:120}
									]]"/>
				</td>
				<td>{$Think.lang.LANG_MODEL_PACK_TYPE}</td>
				<td>
					<input class="easyui-combobox" readonly name="pack_type"
							data-options=" valueField: 'id',
											required:false,
											textField: 'text',
											url: '__URL__/x_xgetOption?cusCode=pack_type',
											panelHeight:'auto'" />
				</td>
			</tr>
			<tr>
				<td>{$Think.lang.LANG_MODEL_RTYPE}</td>
				<td>
					<input class="easyui-combobox" readonly name="r_type"
							data-options=" valueField: 'id',
										   required:true,
										   textField: 'text',
										   url: '__URL__/x_xgetOption?cusCode=r_type',
										   panelHeight:'auto'" />
				</td>
				<td>{$Think.lang.LANG_MODEL_UNIT}</td>
				<td>
					<input class="easyui-validatebox" readonly  name="unit" />  例如：PC
				</td>
			</tr>
			<tr>
				<td>Size</td>
				<td>
					<input class="easyui-validatebox" readonly  name="m_size" />
				</td>
				<td>{$Think.lang.LANG_STATUS}</td>
				<td>
					<input class="easyui-combobox" readonly name="m_status"
								data-options=" valueField: 'id',
											   textField: 'text',
											   required:true,
											   url: '__URL__/x_xgetOption?cusCode=m_status',
											   panelHeight:'auto'" />
				</td>
			 </tr>
			<tr>
				<td>{$Think.lang.LANG_REMARK}</td>
				<td colspan="3">
					<textarea name="remark" readonly style="width:90%" rows="1"></textarea>
				</td>
			 </tr>
		</table>
	</div>
	<div title="{$Think.lang.LANG_MODEL_CUS_INFO}" style="padding:1px;">
        <table class="tableForm" style="white-space: nowrap;width:100%">
            <tr>
				<td>{$Think.lang.LANG_MODEL_CUST}</td>
                 <td>
					<select id="__MODULE__cusCode" readonly name="cust_code" class="easyui-combogrid"  style="width:145px"
        					  data-options="panelWidth: 360,
        									idField: 'cus_code',
        									textField: 'cus_name',
                                            required:true,
        									url: '__APP__/TpCusInfo/x_xgetCusTableJson',
        									pagination: true,//是否分页
        									rownumbers: true,//序号
        									collapsible: false,//是否可折叠的
        									fit: true,//自动大小
        									mode:'remote',
											multiple: false,
        									pageSize: 15,//每页显示的记录条数，默认为10
        									pageList: [15],//可以设置每页记录条数的列表
        									method: 'post',
        									columns: [[
											//{field:'ck',title:'ck',width:40,checkbox:true},
        									{field:'cus_code',title:'代碼',width:60},
        									{field:'cus_name',title:'客戶',width:120},
        									{field:'cus_full_name',title:'備註',width:120}
        									]]">
					</select>
				</td>
				<td>{$Think.lang.LANG_MODEL_EAN_CODE}</td>
                <td><input class="easyui-validatebox" readonly type="text" name="ean_code"></td>
            </tr>
            <tr>
                <td>{$Think.lang.LANG_CUST_MODEL}</td>
                <td>
                    <input class="easyui-validatebox" readonly  name="cust_model"/>
                </td>
                <td>{$Think.lang.LANG_MODEL_CUST_DESC}</td>
                <td>
                    <input class="easyui-validatebox" readonly  name="cust_desc"/>
                </td>
            </tr>
            <tr>
                <td>{$Think.lang.LANG_MODEL_CUST2}</td>
                    <td>
                    <input class="easyui-validatebox" readonly  name="cust_2"/>
                </td>
            </tr>
        </table>
	</div>
</div>
</form>
</div>
<script type="text/javascript">
$(function(){
    var rows = $('#__MODULE__DataGrid').datagrid('getChecked');
    $("#__MODULE__ViewForm").form("load", rows[0]);
})
</script>