<div id="{$Request.controller}PagePanel" class="easyui-layout" data-options="fit : true,border : false">
	<div data-options="title:'{$Think.lang.LANG_DEPT_TITLE_TREE}',region:'west'" style="width:240px;padding:0px">
		 <ul id="{$Request.controller}LeftTree"></ul>
	</div>
	<div id="{$Request.controller}NodeChild" data-options="region:'center',border:false">
		<table id="{$Request.controller}DataGrid">
		</table>
	</div>
	<div id="{$Request.controller}DiaLog"></div>
</div>

<script>
 $(function(){
            $('#{$Request.controller}LeftTree').tree({
                 checkbox: false,
                 animate:true,
                 lines:true,
                 url : '{:url('XxgetDeptTree')}',
                onClick:function(node){
				var node = $('#{$Request.controller}LeftTree').tree('getSelected');
					$('#{$Request.controller}DataGrid').datagrid({
						url : '{:url('Xxlist2')}',
						queryParams:{
							id: node.id
						},
						striped:true
					});
				if (!node.state){
					$.messager.show({
									title : '{$Think.lang.LANG_TIPS}',
									msg :"{$Think.lang.LANG_DEPT_MSG1}",
									showType:'show',
									height:100,
									width:250,
									timeout :1000
									});
				};
               }
            });
   });

   $(function() {
		$('#{$Request.controller}DataGrid').datagrid({
			url : '{:url('Xxlist2')}',
			fit : true,
			border : false,
			rownumbers:true,
			pagination : true,
			idField : 'id',
			pageSize :10,
			pageList : [10,15,20,30,40,50],
			sortName : 'dept_name',
			sortOrder : 'asc',
			checkOnSelect : true,
			selectOnCheck : true,
			nowrap : true,
			singleSelect:true,
			frozenColumns : [ [  {
				field : 'id',
				title : '{$Think.lang.LANG_DEPT_ID}',
				width : 50,
				checkbox : true
			}, {
				field : 'dept_code',
				title : '{$Think.lang.LANG_DEPT_CODE}',
				width : 80,
				sortable : true,
				formatter : function(value, row, index) {
					return '<span title="'+value+'">'+value+'</span>';
				}
			}, {
				field : 'dept_name',
				title : '{$Think.lang.LANG_DEPT_NAME}',
				//width : 80,
				sortable : true,
				formatter : function(value, row, index) {
					return '<span title="'+value+'">'+value+'</span>';
				}
			}, {
				field : 'cost_code',
				title : '{$Think.lang.LANG_DEPT_COST_CODE}',
				//width : 80,
				sortable : true,
				formatter : function(value, row, index) {
					return '<span title="'+value+'">'+value+'</span>';
				}
			}, {
				field : 'pid',
				title : '父節點ID',
				width : 80,
				sortable : true,
				hidden : true,
				formatter : function(value, row, index) {
					return '<span title="'+value+'">'+value+'</span>';
				}
			} ] ],
			columns : [ [ {
				field : 'status',
				title : '{$Think.lang.LANG_STATUS}',
				width : 60,
				//hidden : true,
				formatter :formatStatus
			} ] ],
			toolbar : [ {
				text : '{$Think.lang.LANG_ADD}',
				iconCls : 'icon-add',
				handler : function() {
					{$Request.controller}AddFun();
				}
			}, '-', {
				text : '{$Think.lang.LANG_EDIT}',
				iconCls : 'icon-edit',
				handler : function() {
					{$Request.controller}EditFun();
				}
			}/*, '-', {
				text : '刪除',
				iconCls : 'icon-remove',
				handler : function() {
					{$Request.controller}DelDeptFun();
				}
			}, '-', {
				text : '{$Think.lang.LANG_DEPT_BTN_APUSER}',
				iconCls : 'icon-group_gear',
				handler : function() {
					{$Request.controller}SetUserFun();
				}
			}, '-', {
				text : '{$Think.lang.LANG_DEPT_BTN_APROLE}',
				iconCls : 'icon-role',
				handler : function() {
					{$Request.controller}SetRoleFun();
				}
			}*/]
		});

	});

	//新增
	function {$Request.controller}AddFun() {
		new DatagridMethod().show('add', '350px', '250px', '{$Think.lang.LANG_ADD}').opt();
	}
	// 編輯
	function {$Request.controller}EditFun(){
		if(isChecked('#{$Request.controller}DataGrid', 0)){
			var rows= $('#{$Request.controller}DataGrid').datagrid('getChecked');
			new DatagridMethod().show('edit', '350px', '250px','{$Think.lang.LANG_EDIT}-'+rows[0].dept_name).opt({},"#{$Request.controller}EditForm");
		}
	}
	
</script>


