<script type="text/javascript">
	$(function() {
		$('#{$Request.controller}NodeIconCom').combobox({
			url : '{:url('XxgetIconJson')}',
			formatter : function(row) {
				if(row.value=='blank'){
					return;
				}else{
					var imageFile = '__STATIC__/easyui/themes/icons/' + row.value+'.png';
					return '<img class="item-img" src="'+imageFile+'"/><span class="item-text">'+row.text+'</span>';
				}
			}
		});
	});
</script>
<div align="center">
<form id="{$Request.controller}AddForm" method="post">
		<table class="tableForm">
            <tr>
				<th>{$Think.lang.LANG_NODE_PNAME}</th>
				<td colspan="3">
                <input id="{$Request.controller}AddComTree" class="easyui-combotree" name="pid" style="width:200px;"
							data-options="url:'{:url('Xxgetnodetree')}',
							              queryParams :{ node_type:1 },
										  onLoadSuccess:function(node){
										  	
											var node = $(this).tree('find', 1);
											$(this).tree('expand',node.target);
											console.log(node.target);
										  },
										  onSelect : function (node){
											var levelId = node.attributes.node_level*1+1;
											$('{$Request.controller}nlev').val(levelId);
										  }" />
				</td>
			</tr>
			<tr>
				<th>{$Think.lang.LANG_NODE_NAME}</th>
				<td><input name="node_name" class="easyui-validatebox" data-options="required:true" />
				</td>
				<th>{$Think.lang.LANG_NODE_CODE}</th>
				<td><input name="node_code"  class="easyui-validatebox" data-options="required:true" />
				</td>
			</tr>
			<tr>
				<th>{$Think.lang.LANG_NODE_SORT}</th>
				<td><input name="node_sort" class="easyui-numberspinner" data-options="min:0,max:999,editable:false,required:true,missingMessage:'{$Think.lang.LANG_NODE_PLS_MSG}'" value="10" style="width: 155px;" />
				</td>
				<th>{$Think.lang.LANG_NODE_ICON}</th>
				<td><input id="{$Request.controller}NodeIconCom"  name="node_icon" style="width: 200px;" />
				</td>
			</tr>
			<tr>
				<th>{$Think.lang.LANG_NODE_ACTION}</th>
				<td><input id="node_type" class="easyui-combobox"  name="node_type"
						data-options=" valueField: 'id',
                                       textField: 'text',
									   editable:false,
                                       url:'{:url('XxgetOption')}',
							           queryParams :{ cusCode:'node_type' },
									   onSelect : function(row){
											if(row.id==2){
												$('#ismenu').combobox('setValue',0);
												$('#ismenu').combobox('readonly',true);
											}else{
												$('#ismenu').combobox('readonly',false);
											}
									   },
                                       panelHeight:'auto'" />
				</td>
				<th>{$Think.lang.LANG_STATUS}</th>
				<td><input id="status" class="easyui-combobox"  name="status"
						 data-options=" valueField: 'id',
                                        textField: 'text',
										editable:false,
										readonly:true,
                                        url:'{:url('XxgetOption')}',
							            queryParams :{ cusCode:'status' },
										onLoadSuccess : function(){
											$(this).combobox('setValue',1);
										},
                                        panelHeight:'auto'" />
				</td>
			</tr>
			<tr >
				<th>{$Think.lang.LANG_NODE_ISMENU}</th>
				<td><input id="ismenu" class="easyui-combobox"  name="ismenu"
							 data-options=" valueField: 'id',
                                            textField: 'text',
											editable:false,
                                            url:'{:url('Xxgetoption')}',
							                queryParams :{ cusCode:'ismenu' },
                                            panelHeight:'auto'" />
				</td>
				<th>{$Think.lang.LANG_NODE_ISSHOW}</th>
				<td><input class="easyui-combobox"  name="isshow"
							 data-options=" valueField: 'id',
                                            textField: 'text',
											editable:false,
                                            url:'{:url('Xxgetoption')}',
							                queryParams :{ cusCode:'ismenu' },
											onLoadSuccess : function(){
												$(this).combobox('setValue',1);
											},
                                            panelHeight:'auto'" />
				<input type="hidden" id="{$Request.controller}nlev" name="node_level" />&nbsp;</td>
			</tr>
			<tr>
				<th>{$Think.lang.LANG_REMARK}</th>
				<td colspan="3"><textarea name="remark" style="width:390px;height:80px;"></textarea>
				</td>
			</tr>
		</table>
	</form></div>
<script>
	$(function(){
		var node = $('#{$Request.controller}LeftTree').tree('getSelected');
		if(node){
			var levelId = node.attributes.node_level*1+1;
			$('#{$Request.controller}nlev').val(levelId);
		}
	});
</script>