<div class="easyui-layout" data-options="fit : true,border : false">
	<div data-options="region:'center',border:false">
     <table id="{$Request.controller}DataGrid"
		 data-options="
		    url : '{:url('XxgetTableJson')}',
			fit : true,
			border : false,
            rownumbers:true,
			pagination : true,
			idField : 'id',
			pageSize :20,
			pageList : dg_pageList,
			sortName : 'id',
			sortOrder : 'asc',
			checkOnSelect : true,
			selectOnCheck : true,
			nowrap : false,
            striped:true,
			singleSelect:true,
			onBeforeLoad:function(param){
				$(this).datagrid('clearChecked').datagrid('clearSelections');
			},
			toolbar : [ {$toolBar} ]
			">
		<thead>
            <tr>
			<th data-options="field:'id',width:30,checkbox:true" sortable="true">{$Think.lang.LANG_ACTION_ID}</th>
			<th data-options="field:'action_code',width:100">{$Think.lang.LANG_ACTION_CODE}</th>
			<th data-options="field:'action_name',width:100">{$Think.lang.LANG_ACTION_NAME}</th>
			<th data-options="field:'lang_value',width:100">{$Think.lang.LANG_ACTION_NAMEVALUE}</th>
			<th data-options="field:'icon',width:100,formatter:{$Request.controller}Icon">{$Think.lang.LANG_ACTION_ICON}</th>
			<th data-options="field:'status',width:90,formatter:formatStatus">{$Think.lang.LANG_STATUS}</th>
			<th data-options="field:'list_value',width:90">{$Think.lang.LANG_ACTION_TYPE}</th>
			<th data-options="field:'remark',width:100">{$Think.lang.LANG_REMARK}</th>
			</tr>
		</thead>
		</table>
	</div>
	<div id="{$Request.controller}DiaLog"></div>
</div>
<script type="text/javascript">
	$(function(){
		var dg = $('#{$Request.controller}DataGrid').datagrid();
		dg.datagrid('removeFilterRule');
		dg.datagrid('enableFilter',[{field:'action_code',
							 type:'text'
							},
							{field:'pic_code',
							 type:'text'
							},
							{field:'remark',
							 type:'text'
							}
		]);
	});
	function {$Request.controller}Icon(value,row,index){
		if (value!=''){
			var imageFile = '__STATIC__/easyui/themes/icons/' + value+'.png';
	        return '<img class="item-img" src="'+imageFile+'"/><span class="item-text">'+value+'</span>';
		}
	}

	//新增
	function {$Request.controller}AddFun() {
		new DatagridMethod().show('add', '400px', '350px', '{$Think.lang.LANG_ADD}').opt();
	}
	// 編輯
	function {$Request.controller}EditFun(){
		if(isChecked('#{$Request.controller}DataGrid', 0)){
			var rows= $('#{$Request.controller}DataGrid').datagrid('getChecked');
			new DatagridMethod().show('edit', '400px', '350px','{$Think.lang.LANG_EDIT}-'+rows[0].role_name).opt({},"#{$Request.controller}EditForm");
		}
	}
	//導出
	function {$Request.controller}ExportDataFun() {
		var timestamp = Date.parse(new Date());//時間戳作為參數，解決緩存問題
		location.href="{:url('XxExportData')}?"+timestamp;	
	}
</script>